<h1>Sign Up, ya drunk</h1>

<form action='/users' method='POST'>
  <input type='text' name='username' placeholder='username'>
  <input type='password' name='password' placeholder='password'>
  <input type='text' name='location' placeholder='location'>
  <input type='submit' name='' value='Create User'/>
</form>
