body {
  background-color: #EFBF19;
}

h1 {
  text-align: center;
  color: #A8201A;
}

.search {
  text-align: center;
}

.button {
  background-color: tan;
  color: white;
}

ul {
  list-style-type: none;
  text-align: center;
}

.brewery {
  text-align: center;
}

.locations li {
  text-align: center;
}



/*.breweryImg {
  height: 200px;
}*/
