

h1 {
  text-align: center;
  color: #A8201A;
}

.loginForm {
  text-align: right;
}

.search {
  text-align: center;
}

.button {
  background-color: tan;
  color: white;
}

ul {
  list-style-type: none;
  text-align: center;
}

.brewery {
  width: 35%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.brewery div img {
  display: block;
  margin: 0 auto;
  width: 75%;
}

.brewery div {
  border: 1px solid black;
}
/*
.brewery a {
  text-align: center;
}

.brewery img {
  margin: 0 auto;
}*/

.breweries {
  border: 1px solid black;
}


.locations li {
  text-align: center;
}
